#luongmotlan,
#luongthuongxuyen,
#ttchuyenkhoan {
	display: none;
}
.img_truoc_sau {
    width: 200px;
    height: 140px;

}
.img_mini {
	width: 50px;
    height: 30px;
    padding: 1px;
    float: left;
    clear: both;
}
.img_mini:hover{
	transform: scale(4.5)
}
.img_truoc_sau:hover{
	transform: scale(2.5)
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}

#pac-input:focus {
	border-color: #4d90fe;
}
#votes {
	height: 200px;
	overflow: scroll;
	padding: 10px;
}
.yellow {
	color: #FFD700;
}
.text-red{
	color:red;
}
.panel-body{
	overflow: auto;
	width:auto;
}